styles.css 

:root {
    --main-color: #212121;
}

:root {
    --second-color: #757575;
}

:root {
    --header-color: #FFFFFF;
}

:root {
    --footer-color: #2F303A;
}

:root {
    --team-color: #F5F4FA;
}

:root {
    --button-color: #2196F3;
}




